$base-color: #ef5350;
$base-color-selected: #c62828;
$secundary-color: #ffcb05;
$normal-text-color: rgb(39, 39, 39);
$terciary-color: #24528a;
html,
body,
#root {
  color: $normal-text-color;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e9caca;
}
.pokemons-list li.selected {
  font-weight: bold;
  background-color: $base-color-selected;
  color: white;
}
.shadow {
  box-shadow: 1px 1px #5a5a5a;
}
.home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
}
header {
  background-color: $base-color;
}
.pokemon-details-page {
  background-color: $base-color;
  padding: 0 2em;
}
.pokemon-main-stats {
  margin-top: 2em;
  width: 50%;
  background-color: white;
  padding: 1em;
  margin: auto;
  text-align: center;
}
.pokemon-images {
  height: 200px;
  width: 200px;
  margin: 1.5em auto 0.2em auto;
  border-radius: 50%;

  background-color: white;
}
.pokemon-images img {
  margin-top: 22%;
}
.pokemon-name {
  text-shadow: #3b3b3b 2px 2px;
  color: white;
  text-transform: uppercase;
  font-size: 2.3em;
}
.link-to-home {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 2.5em;
  text-decoration: none;
  color: white;
}
h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: $terciary-color;
}
.pokemon-logo {
  margin: 0 auto;
  display: block;
  height: 3em;
  padding: 10px 0;
}
.pokemons-list {
  margin: 0;
  padding: 0;
}
.pokemons-list li {
  background-color: rgba($color: white, $alpha: 0.2);
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  list-style: none;
  padding: 0.1em;
  padding: 0.3em;
  color: $terciary-color;
  padding: 0.2em 1em;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.card {
  box-sizing: border-box;
  background-color: $base-color;
  padding: 1em;
}
footer {
  text-align: center;
  display: block;
  width: 100%;
  padding: 1em 0;

  bottom: 0;
  background-color: $base-color;
  display: flex;
  justify-content: space-evenly;
}
footer a {
  color: $terciary-color;
}
button {
  cursor: pointer;
  padding: 15px 10px;
  width: 100px;
  background-color: $base-color;
  border: 0;
}
.pokemons-list-panel {
  display: flex;
  flex-direction: column;
}
.pokemons-list-panel,
.pokemon-details-col {
  min-width: 35%;
}
.more-info {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: $base-color-selected;
  margin: 0 auto;
  font-weight: bold;
  color: white;
}
a {
  text-decoration: none;
  color: $normal-text-color;
}
.abilities ul,
.moves ul {
  margin: 0;
  padding: 0;
}
.abilities li,
.moves li {
  list-style: none;
  background-color: white;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px;
}

@media (max-width: 500px) {
  .home {
    flex-direction: column;
  }
  .pokemons-list-panel {
    flex-direction: column-reverse;
  }
}
